# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env
.env.production

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
